.card{
  
    height: 300px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 20px 75px 0px rgba(43, 53, 62, 0.15);
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.align-items-end{
    align-items: end;
}
.pt-100{
    padding-top: 100px;
}
.align-item{
    align-items: center;
}
.h100{
   min-height: 100vh;
}
.btn{
    color: #2C49FE;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 185px;
height: 70px;
border-radius: 150px;
background: #FFF;
border: none;
cursor: pointer;
}
.p1{
    color: #2C49FE;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.disable{
    background: gray;
    pointer-events: none
}
.flex-d-c{
  flex-direction: column;
}
.gap-50{
    gap: 50px;
}
.relative{
    position: relative;
}
.pos-ab{
    position: absolute;
right: 45%;
}
.pos-abs{
    position: absolute;
right: 80%;
}